{% extends  'base.html'%}
{% load static %}

{% block title_name%}
    Список коллекций
{% endblock%}

{% block content %}
    <div class="container">
        <h2>Коллекции</h2>
        <a href="{% url 'collections_create_view' %}" class="btn top-btn">Добавить новую коллекцию</a>

        {% for position in collection %}
        <div class="card">
            <a href="{% url 'collections_detail_view' position.pk %}" class="item-name">{{ position.name }}</a>
            <div class="actions">
                <a href="{% url 'collections_update_view' position.pk %}" class="btn">Редактировать</a>
                <a href="{% url 'collections_delete_view' position.pk %}" class="btn delete">Удалить</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock%}