{% extends  'base.html'%}
{% load static %}

{% block title_name%}
    Список поставщиков
{% endblock%}

{% block content %}
    <div class="container">
        <h2>Поставщики</h2>
        <a href="{% url 'suppliers_create_view' %}" class="btn top-btn">Добавить нового поставщика</a>

        {% for position in supplier %}
        <div class="card">
            <a href="{% url 'suppliers_detail_view' position.pk %}" class="item-name">{{ position.name }}</a>
            <div class="actions">
                <a href="{% url 'suppliers_update_view' position.pk %}" class="btn">Редактировать</a>
                <a href="{% url 'suppliers_delete_view' position.pk %}" class="btn delete">Удалить</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock%}