{% extends  'base.html'%}
{% load static %}

{% block title_name%}
    Детали покупателя
{% endblock%}

{% block content %}
    <div class="container">
        <div class="card">
            <h1>{{ customer.name }}</h1>
            <p><span class="label">Имя:</span> {{ customer.first_name }}</p>
            <p><span class="label">Фамилия:</span> {{ customer.last_name }}</p>
            <p><span class="label">Почта:</span> {{ customer.email }}</p>
            <p><span class="label">Телефон:</span> {{ customer.phone }}</p>
            <div class="actions">
                <a href="{% url 'customers_update_view' customer.pk %}" class="btn">Редактировать</a>
                <a href="{% url 'customers_delete_view' customer.pk %}" class="btn delete">Удалить</a>
                <a href="{% url 'customers_list_view' %}" class="btn back">Назад к списку</a>
            </div>
        </div>
    </div>
{% endblock%}

