<header>
    <div class="header-content">
        <h1>Добро пожаловать на EzkhereSHOP</h1>
        <p class="tagline">Это прекрасный сайт для покупки атрибутики из игр</p>
    </div>
</header>
<nav>
    <div class="nav-container">
        <a href="{% url 'general_view' %}" class="logo">EzkhereSHOP</a>
        <ul class="nav-links">
            <li><a href="{% url 'general_view' %}">Главная</a></li>
            <li><a href="{% url 'company_view' %}">О компании</a></li>
            <li><a href="{% url 'product_list_view' %}">Товары</a></li>
            <li><a href="{% url 'basket_detail' %}">Корзина</a></li>
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'logout_user' %}">Выйти</a></li>
            {% else %}
                <li><a href="{% url 'login_user' %}">Авторизация</a></li>
                <li><a href="{% url 'registration_user' %}">Регистрация</a></li>
            {% endif %}
        </ul>
    </div>
</nav>