<header class="header">
        <div class="header-container">
            <nav class="nav">
                <a href="{% url 'product_list_view' %}">Предметы</a>
                <a href="{% url 'suppliers_list_view' %}">Поставщики</a>
                <a href="{% url 'brands_list_view' %}">Бренды</a>
                <a href="{% url 'categories_list_view' %}">Категории</a>
                <a href="{% url 'collections_list_view' %}">Коллекции</a>
                <a href="{% url 'customers_list_view' %}">Покупатели</a>
                
            </nav>
        </div>
</header>