{% extends  'base_user.html'%}
{% load static %}

{% block title_name%}
    Все товары EzhkereShop
{% endblock%}

{% block content %}
    <main class="container">
        <section class="card">
            <h2>Статуя Леди Димитреску</h2>
            <p>Цена: 1500 руб.</p>
            <p>Описание: Прекарсная дама, оставившая после свой смерти такую же прекрасную статую</p>
        </section>

        <section class="card">
            <h2>Статуя Хайзенберга</h2>
            <p>Цена: 1000 руб.</p>
            <p>Описание: Величественная статуя, которая показывает статусность и величие данного мужчины</p>
        </section>

        <section class="card">
            <h2>Куртка Леона С. Кеннеди</h2>
            <p>Цена: 5500 руб.</p>
            <p>Описание: Та самая куртка, в которой он спасал дочь президента</p>
        </section>

        <section class="card">
            <h2>Блинк</h2>
            <p>Цена: 2500 руб.</p>
            <p>Описание: Кинжал, благодаря которому герои игры могли телепортироваться на расстояние 1200. Вы, к сожалению, не сможете</p>
        </section>
    </main>
{% endblock%}